import(methods, multtest, Biobase, splines)

importFrom(graphics, identify)
importFrom(stats4, plot, summary)

exportClasses("SAM", "EBAM", "FindA0", "sumSAM", "sumEBAM")
exportMethods("show", "print", "plot", "summary", "identify")

export(args.ebam, args.finda0, args.sam, ebam, ebam2excel, ebam2html,
	find.a0, fudge2, help.ebam, help.finda0, help.sam,
	link.genes, link.siggenes, list.siggenes, pi0.est,
	plotArguments, sam, sam2excel, sam2html, sam.plot2,
	d.stat, cat.stat, wilc.stat,
	z.ebam, cat.ebam, wilc.ebam, z.find, denspr, rowWilcoxon, rowRanksWilc,
	na.handling, nclass.wand, findDelta, qvalue.cal, chisqClass,
	chisq.ebam, chisq.stat, trend.stat, trend.ebam, md.plot,
	limma2sam, limma2ebam, samControl, ebamControl, 
	fuzzy.stat, fuzzy.ebam)

S3method(trend.stat, default)
S3method(trend.stat, data.frame)
S3method(trend.stat, list)
S3method(trend.ebam, default)
S3method(trend.ebam, data.frame)
S3method(trend.ebam, list)

S3method(plot, denspr)
S3method(lines, denspr)




